* {
  box-sizing: border-box;
  font-family: "Lato", "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  /* Me permite deslizar cuando hago clic en los link del menu */
  scroll-behavior: smooth;
}

/* SECCION MENU ENCABEZADO */

.contenedor-header {
  background: #00001a;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.contenedor-header header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20 px;
}

.contenedor-header header .logocarburadoPiston img {
  width: 50px;
  height: 50px;
}

.contenedor-header header .logocarburadoPiston a {
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  color: #fff;
  text-decoration: none;
}

.contenedor-header header ul {
  display: flex;
  list-style: none;
}

.contenedor-header header nav ul li a {
  text-align: none;
  color: #fff;
  margin: 0 15px;
  padding: 3px;
  transition: 0.5s;
  text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
  color: #c70039;
}

/* SECCION TIPO DE ENCABEZADO */

.inicio {
  background: linear-gradient(
      to top,
      rgba(30, 35, 38, 0.8),
      rgba(30, 35, 38, 1)
    ),
    url(/img/portada.jpg);
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
}

.inicio .contenido-encabezado {
  padding: 20px;
  max-width: 950px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
  margin-top: 30vh;
}

.inicio .contenido-encabezado h1 {
  margin-top: 40px;
  font-size: 80px;
  font-family: "Lato", sans-serif;
}

.inicio .contenido-encabezado h2 {
  font-size: 40px;
  font-weight: normal;
}

.inicio .contenido-encabezado .redes a img {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 15%;
  width: 50px;
  height: 50px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: 0.3s;
  background-color: #fff;
}

.inicio .contenido-encabezado .redes a img:hover {
  background-color: #c70039;
}

/* SECCION TIPOS Y DESCRIPCCION */

.tipos-descripcion {
  background: linear-gradient(
      to top,
      rgba(30, 35, 38, 0.8),
      rgba(30, 35, 38, 1)
    ),
    url(/img/tipos.jpg);
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 50px 20px;
}

.tipos-descripcion .contenido-tipos {
  max-width: 1100px;
  margin: auto;
}

.tipos-descripcion h2 {
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 20px 0;
}

.tipos-descripcion .tipos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tipos-descripcion .tipos .motos {
  position: relative;
  max-width: 340px;
  height: fit-content;
  margin: 10px;
  cursor: pointer;
}

.tipos-descripcion .tipos .motos img {
  width: 100%;
  display: block;
  border-radius: 20px;
  box-shadow: 0 5px 10px #000;
}

.tipos-descripcion .tipos .motos .cubrir {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(rgba(199, 0, 56, 0.8), rgba(199, 0, 57, 0.8));
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  font-size: 18px;
  letter-spacing: 3px;
  opacity: 0;
}

.tipos-descripcion .tipos .motos .cubrir h3 {
  margin-bottom: 20px;
  transition: 1s;
}

.tipos-descripcion .tipos .motos .cubrir a {
  text-decoration: none;
  color: #fff;
}

.tipos-descripcion .tipos .motos .cubrir:hover {
  opacity: 1;
}

.tipos-descripcion .tipos .motos .cubrir:hover h3 {
  margin-bottom: 0px;
}

/* SECCION NOTICIAS */
.noticias {
  background: linear-gradient(
      to top,
      rgba(30, 35, 38, 0.8),
      rgba(30, 35, 38, 0.8)
    ),
    url(/img/fondo3.jpg);
  color: #fff;
  padding: 50px 20px;
}

.noticias .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}

.noticias h2 {
  font-size: 55px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 20px 0;
}

.noticias .fila {
  display: flex;
  justify-content: space-between;
}

.noticias .fila .col {
  width: 49%;
  padding: 0 20px;
}

.noticias .fila .col h3 {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 25px;
}

.noticias .fila .izquierda {
  border-right: thin solid #fff;
}

.noticias .fila .item {
  padding: 25px;
  margin-bottom: 30px;
  background-color: #000;
  position: relative;
}

.noticias .fila .item h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #c70039;
}

.noticias .fila .item p {
  line-height: 24px;
}

.noticias .fila .izq {
  border-right: thick solid #c70039;
  margin-right: 20px;
}

.noticias .fila .item .conectori {
  height: 2px;
  background-color: #c70039;
  width: 47px;
  position: absolute;
  top: 50%;
  right: -47px;
  z-index: 5;
}

.noticias .fila .item .conectori .circuloi {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #c70039;
  float: right;
  position: relative;
  bottom: 4px;
}

.noticias .fila .derecha {
  border-left: thin solid #fff;
}

.noticias .fila .der {
  border-left: thick solid #c70039;
  margin-left: 20px;
}

.noticias .fila .item .conectord {
  height: 2px;
  background-color: #c70039;
  width: 47px;
  position: absolute;
  top: 50%;
  left: -47px;
  z-index: 5;
}

.noticias .fila .item .conectord .circulod {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #c70039;
  float: left;
  position: relative;
  bottom: 4px;
}
